@page "/userprofile"
@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject ILocalStorageService _localStorageService;
@using Blazored.LocalStorage;
@using Newtonsoft.Json;
@using project_3_quiz.ViewModels

<h3 class="d-flex justify-content-center">User Profile</h3>

@if (userInfo != null)
{
    <div class="d-flex justify-content-center">
        <p>Welcome, @userInfo.Email!</p>


        @if (userInfo.QuizTitle != null && userInfo.QuizTitle.Any())
        {
            <h4>Quizzes Created by You:</h4>
            <ul>
                @foreach (var quiz in userInfo.QuizTitle)
                {
                    <li>
                        Quiz Title: @quiz
                    </li>
                }
            </ul>
        }
        else
        {
            <p>No quizzes created by you.</p>
        }
    </div>
}

@code {

    // ToDo List :
    //   fetch user info using token 
    //   fetch all quizes that the logged in user has created and show all scores that have been scored on that quiz
    //   show all the quizes the user has submitted scores too 
    //   create the necessary endpoints for these requirements

    private UserInfoDto userInfo;

    protected override async Task OnInitializedAsync()
    {
        
        var jwtToken = await _localStorageService.GetItemAsync<string>("JwtToken");

        var url = $"https://localhost:7060/api/user/profile/{jwtToken}";
        var response = await HttpClient.GetFromJsonAsync<UserInfoDto>(url);

        if (response != null)
        {
            userInfo = response;
        }
        else
        {
            // Handle the case when user information cannot be retrieved
            Console.WriteLine("Error: Unable to fetch user information.");
        }
    }
}
