@using System.Threading.Tasks
@using Blazored.LocalStorage
@inject project_3_quiz.Services.AuthService AuthService
@inject NavigationManager NavigationManager

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mr-auto pl-3" href="#">Quizly シ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/createquiz">Create Quiz</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/quizlist">Show all quizzes</a>
            </li>
            <form class="form-inline my-2 my-lg-0 pr-3">
                <div class="d-flex">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Quizzes" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </div>
            </form>
        </ul>
        
        <ul class="navbar-nav">
            @if (isLoggedIn)
            {
                <li class="nav-item">
                    <span class="nav-link">Welcome, You are logged in</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" @onclick="LogoutAsync">Logout</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
            }
        </ul>

    </div>
</nav>





@code {
    private bool isLoggedIn;
    private string username;
    
    protected override async Task OnInitializedAsync()
    {

        isLoggedIn = await AuthService.IsUserLoggedIn();
        if (isLoggedIn)
        {
            username = await AuthService.GetUsername();
        }
    }

    private async Task LogoutAsync()
    {
        await AuthService.Logout();
        NavigationManager.NavigateTo("/login");
    }
}
