
<div class="container">
    @if (!ShowVideo)
    {
        <button onclick="(() => Showvideo = true")>Play Video</button>
    }
</div>


<video autoplay="@(ShowVideo)" loop="true" style="width: 100%; height: auto;" hidden="@(!ShowVideo)" playsinline="">
    <source src=@VideoPath type=@VideoType>
    Your browser does not support the video tag.
</video>

@code {
    [Parameter]
    public bool ShowVideo { get; set; } = false; //Trigger to run video

    [Parameter]
    public string VideoPath { get; set; } = "/videos/e53cd43c-555e-4a3e-a056-6a74d087df26.mp4";
    [Parameter]
    public string VideoType { get; set; } = "video/mp4";
}
