@page "/"

<PageTitle>Index</PageTitle>

<h1 class="MainTitle">Welcome to Quizly!</h1>

<img class="HomeLogo" src="/Images/choose.png" alt="logo"/>
<br />
<br />

<div class="container-lg">
    <p class="lead">
        The ultimate destination for quiz enthusiasts!
        Unleash your creativity and challenge your friends with personalized quizzes
        on our user-friendly platform. Craft engaging questions, curate diverse topics,
        and tailor quizzes to your unique style.
        Invite friends to join the fun, compete for bragging rights, and discover who truly reigns as the Quizly King!
    </p>
</div>

@* <div class="col-md-12 text-center">
    <button type="button" class="btn btn-primary btn-lg" href="/login">Login</button>
    <button type="button" class="btn btn-primary btn-lg" href="/register">Register</button>
</div>
 *@
<SurveyPrompt Title="How is Blazor working for you?" />
