@page "/"

<PageTitle>Index</PageTitle>

<h1 class="MainTitle">Welcome to Quizly.</h1>

<img src="../wwwroot/Images/choose.png" alt="logo" />

<a href="/login">Login</a>
<a href="/register">Register</a>





<SurveyPrompt Title="How is Blazor working for you?" />
